$black: #000
$white: #fff

$tx-color: #000
$bg-color: #fff

// Fonts

$main-font: Roboto, sans-serif
$line-height: 1.5
$font-weight: 400

$font-size-xs: 1.4rem
$font-size-md: 1.4rem
$font-size-lg: 1.6rem
$font-size-xl: 1.6rem

// Breakpoints

$screen-sm: 'min-width: 375px'
$screen-md: 'min-width: 768px'
$screen-lg: 'min-width: 1024px'
$screen-xl: 'min-width: 1300px'
$screen-xxl: 'min-width: 1440px'